.add-stock-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 60vh;
    overflow-y: auto;
}

.add-stock-form{
    width: 100%;

    display: flex;
    flex-direction: column;
}

.add-stock-label{
    display: flex;
    flex-direction: column;
    margin: 5px 0;
    font-weight: 500;
    
}

.add-stock-input{
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

.form-layout{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.label-stock-layout{
    display: flex;
    justify-content: space-evenly;
}

@media(max-width:760px){
    .label-stock-layout{
        flex-direction: column;
    }
}

.add-stock-label-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px dashed #ccc;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #f9f9f9;
    width: 150px;
    height: 150px;
    justify-content: space-evenly;
    padding: .5rem;
}

.add-stock-label-image:hover {
    border-color: #ffcc00;
    background-color: #fff5cc;
}

.add-stock-label-image input {
    display: none;
}

.upload-text {
    font-size: 14px;
    color: #555;
    font-weight: bold;
}

.add-stock-label-image.disabled{
    cursor: not-allowed;
}

.add-stock-images-container{
    display: flex;
    flex-wrap: wrap;
}

.add-stock-image-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 100px;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin: 5px;
    position: relative;
    overflow: hidden;
    aspect-ratio: 1/1;
}

.add-stock-image-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all 0.3s ease;
}

.add-stock-image-item img:hover{
    filter:grayscale(1);
}

.add-stock-button{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #3315aa;
    color: white;
    max-width: 150px;
    align-self:flex-end;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.add-stock-button:hover{
    background-color: #19096c;
}


.add-stock-button:disabled{
    background-color: #8cb9ed;
    cursor: not-allowed;
}

@media(min-width: 768px){
    .form-layout{
        flex-direction: column;
    }
}

